<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/class</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>
        <property name="hibernate.show_sql ">true</property> // Настройка, включающая логирование
        <property name="hbm2ddl.auto">update</property> // параметр hbm2ddl.auto. У нее может быть 5 различных значений:

    </session-factory>
</hibernate-configuration>